.card-body {
    background-color: rgba(37, 163, 54, 0.6);
}

.jumbotron {
    background-image: url("/images/avatar.png") !important;
    height: 400px !important;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(37, 163, 54, 0.8);
}

