body {
    background: linear-gradient(45deg, #23e609e3, #bdda1bc7, #1bcddac7 );
    
}
nav {
    margin: auto;
    height: 100px;
   
}

.navbar-nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 80px;
}

.navbar-nav:first-child {
    margin-left: 22%;
}

nav a {
    font-size: 2.5em;
    color:rgba(36, 94, 43, 0.925);
    text-shadow: 1px 1px 2px rgb(21, 255, 0), 0 0 1em rgb(60, 255, 0), 0 0 0.2em rgb(0, 255, 191);
}

.navbar-brand {
    display: none;
}
.card-body {
    background: linear-gradient(45deg, #23e609e3, #bdda1bc7, #1bcddac7);
}

.display-4, .display-4 > p {
display: flex;
align-items: flex-end;
height: 300px;
justify-content: center;
}


.fixed-height {
    height: 250px;
}

.jumbotron {
    background: url("../images/avatar.png");
    height: 400px !important;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center !important;
}

h1 {
    font-weight: 600;
}

h1, .lead {
    -webkit-text-stroke: 1px red;
    font-size: 2em;
    position: relative;
    bottom: 20px;
  }

h2 {
    text-align: center;
    font-size: 2.5em;
    color:rgba(36, 94, 43, 0.925);
    text-shadow: 1px 1px 2px rgb(21, 255, 0), 0 0 1em rgb(60, 255, 0), 0 0 0.2em rgb(0, 255, 191);
    padding: 5px 0;
    
}

h2:before { 
    content:""; 
    float:left; 
    background:rgba(4, 211, 4, 0.671); 
    width:100%; 
    height:6px; 
    border-radius: 3px;
  }

  h2:after { 
    content:""; 
    float:left; 
    background:rgba(4, 211, 4, 0.671); 
    width:100%; 
    height:6px; 
    border-radius: 3px;
  }

  p {
    font-size: 1.6em;
    text-align: center;
    padding: 2px;
  }

  h2:hover {
    color:rgba(0, 174, 255, 0.966);
  }

  .card-title {
    font-size: 2em;
  }

  .card-title:hover {
    color:rgba(0, 174, 255, 0.966);
  }


  #contact address a {
    color:rgba(36, 94, 43, 0.925);
    text-shadow: 1px 1px 2px rgb(21, 255, 0), 0 0 1em rgb(60, 255, 0), 0 0 0.2em rgb(0, 255, 191);
    padding: 15px 60px;
    text-decoration: none;
    font-size: 2rem;
    background-image: linear-gradient(270deg, rgb(21, 219, 21) 0%, rgb(84, 84, 216) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.6em;
    position: bottom;
    transition: all 0.25s ease-in;
    border-radius: 30px;
    background-blend-mode: hard-light;
   
 
  }
  
  #contact address a:hover {
    background-size: 100% 100%;
    color: azure;
  }

  @media screen and (max-width: 768px) {
    #contact address a {
      font-size: 1.2rem;
      text-align: center;
      background-size: 100%;
      border-radius: none;
     color: azure;
    }
    
    #contact address a {
      font-size: 1.2rem;
      text-align: center;
      background-size: 100%;
      border-radius: none;
     color: azure;
    }

    #contact address a:nth-child(even) {
      background-image: linear-gradient(270deg, rgb(84, 84, 216) 0%, rgb(21, 219, 21) 100%);
    }

    nav {
      display: flex;
      width: 100vw;
      justify-content: flex-start;
    }
    nav .container {
      width: 100vw !important;
      display: flex;
      justify-content: flex-start;
    }
    .navbar-nav {
      display: flex;
      flex-wrap: nowrap;
      
    }
    .nav-link {
      font-size: 1.2rem !important;
      
    }
  }


  

